<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="signUpService" class="ru.spring.project.hw3.service.SignUpServiceImpl" >
        <constructor-arg name="userRepositories" ref="userRepositories"/>
    </bean>
    <bean id="signUpService1" class="ru.spring.project.hw3.service.SignUpServiceImpl" >
        <constructor-arg name="emailService" ref="emailService"/>
    </bean>
    <bean id="confirmService" class="ru.spring.project.hw3.service.ConfirmServiceImpl">
        <constructor-arg name="userRepositories" ref="userRepositories"/>
    </bean>
    <bean id="emailService" class="ru.spring.project.hw3.service.EmailServiceImpl">
        <constructor-arg name="configEmail" ref="configEmail"/>
    </bean>
    <bean id="configEmail" class="ru.spring.project.hw3.config.ConfigEmail">

    </bean>
    <bean id="messageCreate" class="ru.spring.project.hw3.service.MessageCreateImpl">

    </bean>
    <bean id="emailService1" class="ru.spring.project.hw3.service.EmailServiceImpl">
        <constructor-arg name="messageCreate" ref="messageCreate"/>
    </bean>
    <bean id="userRepositories" class="ru.spring.project.hw3.repositories.UserRepositoriesImpl">
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="hikariDataSource"/>
    </bean>

    <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="postgres"/>
        <property name="password" value="123"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/SpringDb"/>
    </bean>

    <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="hikariConfig"/>
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="password" value="123"/>
        <property name="username" value="postgres"/>
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/SpringDb"/>
    </bean>

</beans>
